/** All elements **/
*{
    margin: 0;
    padding: 0;
    font-family: Arial, poppins;
}

/** For header **/
header {
    padding: 0;
    width: 100%;
}

.navbar{
    display: block;
}

.top, .middle, .bottom{
    display: block;
    margin:0 auto;
}

.bottom{
    background: #1e293b;
    width: 100%;
}

.info p{
    color: white;
}

.top{
    width: 1200px;
}

.top .logo{
    padding: 10px;
    background:#00487C;
    display: inline-block;
    width: 25%;
    text-align: center;
}

.top .searchbox{
    display: inline-block;
    vertical-align: top;
    width: 40%;
    text-align: center;
}

.top .logo img{
    width:300px;
}

.searchbox input[type="text"]{
    padding: 12px 20px;
    font-size: 15px;
    font-family: poppins, arial;
    border: 1px solid #ccc;
    margin: 12px;
}

.searchbox button{
    width: 50px;
    height: 43px;
    vertical-align: top;
    margin: 12px 0 0 -18px;
    border: 1px solid #ccc;
}

.searchbox img{
    width: 20px;
}

.bookBox {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    height: 68.02px;
    text-align: center;
}

.bookBox a{
    display: block;
    font-size: 15px;
    text-decoration: none;
    padding: 15px 20px;
    color: white;
    border-radius: 5px;
    background: #00487C;
    margin: 10px;
    width: 220px;
}

.nav-links{
    padding: 25px 10px;
    width: 1200px;
    margin: 0 auto;
}

.nav-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-links li {
    margin-right: 25px;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}
